<footer class="page__footer">
  <div class="page__footer__scroll">
    <a
      class="page__footer__scroll__link"
      href="#top"
      title="Ir al inicio de la página"
    >
      <img src="./assets/images/ico-arrow.svg" alt="flecha hacia arriba" />
    </a>
  </div>
  <div class="page__footer__items">
    <div class="page__footer__items__nav">
      <nav>
        <ul>
          <li>
            <include
              src="./links.html"
              aClass="link__adalab"
              text="Articles"
              url="https://adalab.es"
              aTitle="Ir a la home de Adalab"
            ></include>
          </li>
          <li>
            <include
              src="./links.html"
              aClass="link__adalab"
              text="Books"
              url="https://adalab.es"
              aTitle="Ir a la home de Adalab"
            ></include>
          </li>
          <li>
            <include
              src="./links.html"
              aClass="link__adalab"
              text="Events"
              url="https://adalab.es"
              aTitle="Ir a la home de Adalab"
            ></include>
          </li>
          <li>
            <include
              src="./links.html"
              aClass="link__adalab"
              text="Reasons"
              url="https://adalab.es"
              aTitle="Ir a la home de Adalab"
            ></include>
          </li>
          <li>
            <include
              src="./links.html"
              aClass="link__adalab"
              text="Tips"
              url="https://adalab.es"
              aTitle="Ir a la home de Adalab"
            ></include>
          </li>
        </ul>
      </nav>
    </div>
    <div class="page__footer__items__nav">
      <nav>
        <ul>
          <li>
            <include
              src="./links.html"
              aClass="link__adalab"
              text="Twitter"
              url="https://adalab.es"
              aTitle="Ir a la home de Adalab"
            ></include>
          </li>
          <li>
            <include
              src="./links.html"
              aClass="link__adalab"
              text="Instagram"
              url="https://adalab.es"
              aTitle="Ir a la home de Adalab"
            ></include>
          </li>
          <li>
            <include
              src="./links.html"
              aClass="link__adalab"
              text="Mastodon.social"
              url="https://adalab.es"
              aTitle="Ir a la home de Adalab"
            ></include>
          </li>
        </ul>
      </nav>
    </div>
    <div class="page__footer__items__small">
      <div class="page__footer__items__small__copy">&copy; 2017</div>
      <div class="page__footer__items__small__love">
        We
        <span class="page__footer__items__small__love__heart"> &hearts;</span>
        components
      </div>
    </div>
  </div>
</footer>
