<section class="module2">
  <h2 class="module2__title">3 reasons to purchase</h2>
  <article class="module2__item">
    <h3 class="module2__item__title">Ut sed metus</h3>
    <p class="module2__item__text">Lorem ipsum dolor sit amet, consecteur.</p>
  </article>
  <article class="module2__item">
    <h3 class="module2__item__title">Curabitur ac erat</h3>
    <p class="module2__item__text">Mauris mattis urna quis lorem molestie.</p>
  </article>
  <article class="module2__item">
    <h3 class="module2__item__title">Morbi dictum</h3>
    <p class="module2__item__text">Aliquam in dolor et dolor tincidunt.</p>
  </article>
  <div class="module2__button">More reasons</div>
</section>
