// fonts
$font-family-default: "Roboto", sans-serif;
$font-family-title: "Roboto Slab", serif;

// colors
$color-primary: #ffffff;
$color-secondary: #000000;
$color-tertiary: #f26002;
$color-light: #eff9ff;
$color-light-midtone: #8ccbea;
$color-midtone: #0271bc;
$color-dark: #304268;
$color-extra: #4a4a4a;

// breakpoints

$tablet: 768px;
$desktop: 1280px;
