.module2 {
  background-color: $color-light;
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 45px;
  width: 100%;
  text-align: center;

  &__title {
    font-family: $font-family-title;
    text-transform: capitalize;
    line-height: 30px;
    margin-top: 30px;
    grid-column: span 3;
  }

  &__item {
    grid-column-start: 2;
    line-height: 30px;

    &__title {
      font-family: $font-family-title;
      font-size: 18px;
    }

    &__text {
      font-size: 18px;
    }
  }

  &__button {
    background-color: $color-tertiary;
    border: 2px solid $color-tertiary;
    border-radius: 22.5px;
    color: $color-primary;
    font-size: 20px;
    font-weight: 500;
    width: 184px;
    height: 45px;
    line-height: 45px;
    grid-column-start: 2;
    margin: 0 auto 60px;
  }
}

@include tablet {
  .module2 {
    padding: 0 39px;
    grid-column-gap: 30px;

    &__title {
      font-size: 26px;
      line-height: 45px;
    }

    &__item {
      grid-column: auto;

      &__title {
        font-size: 24px;
        margin-bottom: 14px;
      }

      &__text {
        font-size: 20px;
      }
    }

    &__button {
      width: 210px;
      margin: 15px auto 60px;
    }
  }
}

@include desktop {
  .module2 {
    padding: 0 85px;

    &__title {
      font-size: 32px;
      margin-top: 60px;
    }

    &__button {
      width: 255px;
    }
  }
}
