.module1 {
  padding: 0 15px;

  &__pretitle {
    color: $color-light-midtone;
    font-size: 14px;
    line-height: 30px;
    margin-top: 30px;
    text-transform: capitalize;
  }

  &__title {
    font-family: $font-family-title;
    line-height: 30px;
    margin-bottom: 15px;
    text-transform: capitalize;
  }

  &__text {
    color: $color-extra;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  &__button {
    border: 2px solid $color-tertiary;
    border-radius: 22.5px;
    color: $color-tertiary;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    line-height: 45px;
    margin-bottom: 45px;
    text-align: center;
    height: 45px;
    width: 76px;
    transition: background-color ease 0.5s;
    transition: color ease 0.5s;
    transition: box-shadow ease 0.8s;
  }

  &__button:hover {
    color: $color-primary;
    background-color: $color-tertiary;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  }
}

@include tablet {
  .module1 {
    padding: 0 39px;

    &__title {
      font-size: 26px;
      line-height: 45px;
      margin-bottom: 30px;
    }

    &__text {
      font-size: 20px;
    }

    &__button {
      margin-bottom: 60px;
      width: 91px;
    }
  }
}

@include desktop {
  .module1 {
    padding: 0 275px;

    &__pretitle {
      font-size: 16px;
      margin-top: 60px;
    }

    &__title {
      font-size: 32px;
    }

    &__button {
      width: 160px;
    }
  }
}
